 .u-section-1 {
  background-image: url("images/amsterdam2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-form-1 {
  height: 556px;
  background-image: none;
  margin: 60px 327px 58px 285px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-1 {
  font-weight: 400;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-2 {
  font-weight: 400;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-3 {
  font-weight: 400;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-4 {
  font-weight: 400;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-5 {
  font-weight: 400;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-6 {
  font-weight: 400;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
  font-style: normal;
}

.u-section-1 .u-input-7 {
  font-weight: 400;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 185px;
    margin-right: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 75px;
    margin-right: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}